version: "3"
services:
  client:
    build: ./client
    restart: always
    ports:
      - "4200:4200"
    volumes:
      - ./client/src:/usr/client/src
    environment:
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=1000
      - API_URL=http://localhost:8000
  server:
    build: ./server
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - mongodb
    volumes:
      - ./server/src:/usr/server/src
      - ./files/:/usr/server/files/
    environment:
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=1000
      - WEBSITE_URL=http://localhost:4200
      - MODE=local
      - MONGO_URL=mongodb
      - MONGO_USERNAME=user1
      - MONGO_PASSWORD=pass1
      - MONGO_DATABASE_NAME=smart_reach_tech
      - AWSID=AKIA6IZIC33VJDU4HAZP
      - AWSSECRET=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
      - BUCKETNAME=simpletube
  mongodb:
    build: ./mongodb
    restart: always
    ports:
      - "6000:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=user1
      - MONGO_INITDB_ROOT_PASSWORD=pass1
      - MONGO_INITDB_DATABASE=smart_reach_tech
