<div class="container-fluid">
  <div class="row margin-bottom-div">
    <div class="col-xs-12 col-sm-10 offset-sm-1">
      <div class="login-form">
        <div class="panel-body login-form">
          <div>
            <h3>Lista pojazdów</h3>
          </div>
          <div class="add-button-div">
            <button class="btn btn-primary" (click)="openAddModal(content)">Dodaj pojazd</button>
          </div>
          <div *ngIf=!vehicles>
            <h1>Brak pojazdów</h1>
          </div>
          <div *ngIf=vehicles class="table-responsive-md">
            <table id="dtBasicExample" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="th">Id pojazdu
                  </th>
                  <th class="th">Marka
                  </th>
                  <th class="th">Model
                  </th>
                  <th class="th">Rok produkcji
                  </th>
                  <th class="th">Przebieg
                  </th>
                  <th class="th">Data zakupu
                  </th>
                  <th class="th">Dostepność
                  </th>
                  <th class="th">Liczba miejsc
                  </th>
                  <th class="th">Akcje
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vehicle of vehicles">
                  <td>{{vehicle.id}}</td>
                  <td>{{vehicle.brand}}</td>
                  <td>{{vehicle.model}}</td>
                  <td>{{vehicle.yearOfProduction ? vehicle.yearOfProduction.toISOString().substring(0, 4) : 'Brak'}}
                  </td>
                  <td>{{vehicle.mileage}}</td>
                  <td>{{vehicle.purchaseDate ? vehicle.purchaseDate.toISOString().substring(0, 10) : 'Brak'}}</td>
                  <td>{{vehicle.available}}</td>
                  <td>{{vehicle.seats}}</td>
                  <td>
                    <button class="btn btn-warning" (click)="openEditModal(vehicle.id, content)"><i class=" fas
                      fa-edit"></i></button>
                    <button class="btn btn-danger" (click)="deleteVehicle(vehicle.id)"><i class=" fas
                      fa-trash-alt"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header" *ngIf="step === 1">
    <h4 class="modal-title" id="modal-basic-title">Dodaj pojazd</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-header" *ngIf="step === 2">
    <h4 class="modal-title" id="modal-basic-title">Edytuj pojazd</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="step === 1">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="dateOfBirth">Marka</label>
        <div class="input-group">
          <input [(ngModel)]="newVehicle.brand" id="firstName" name="firstName" ngControl="firstName"
            #firstName="ngModel" required class="form-control" placeholder="Podaj marke...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Model</label>
        <div class="input-group">
          <input [(ngModel)]="newVehicle.model" id="lastName" name="lastName" ngControl="lastName" #lastName="ngModel"
            required class="form-control" placeholder="Podaj model...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Rok produkcji</label>
        <div class="input-group">
          <input [(ngModel)]="newVehicle.yearOfProduction" type='number' id="firstName" name="login" ngControl="login"
            #login="ngModel" required class="form-control" placeholder="Podaj rok produkcji...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Przebieg</label>
        <div class="input-group">
          <input [(ngModel)]="newVehicle.mileage" id="password" name="password" ngControl="password" #password="ngModel"
            required class="form-control" type='number' placeholder="Podaj przebieg...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Data zakupu</label>
        <div class="input-group">
          <input [(ngModel)]="newVehicle.purchaseDate" id="purchaseDate" type="date" name="purchaseDate"
            ngControl="passwordAgain" #passwordAgainVal="ngModel" required class="form-control"
            placeholder="Powtórz hasło...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Dostepność</label>
        <div class="input-group">
          <input [(ngModel)]="newVehicle.available" id="available" type="checkbox" name="available"
            ngControl="available" #passwordAgainVal="ngModel" required class="form-control"
            placeholder="Powtórz hasło...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Liczba miejsc</label>
        <div class="input-group">
          <input [(ngModel)]="newVehicle.seats" id="seats" type='number' name="seats" ngControl="seats"
            #passwordAgainVal="ngModel" required class="form-control" placeholder="Podaj liczbe miejsc...">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-body" *ngIf="step === 2">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="dateOfBirth">Marka</label>
        <div class="input-group">
          <input [(ngModel)]="selectedVehicle.brand" id="firstName" name="firstName" ngControl="firstName"
            #firstName="ngModel" required class="form-control" placeholder="Podaj marke...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Model</label>
        <div class="input-group">
          <input [(ngModel)]="selectedVehicle.model" id="model" name="model" ngControl="model" #lastNmodelame="ngModel"
            required class="form-control" placeholder="Podaj model...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Rok produkcji</label>
        <div class="input-group">
          <input [(ngModel)]="selectedVehicle.yearOfProduction" type="number" id="yearOfProduction"
            name="yearOfProduction" ngControl="yearOfProduction" #yearOfProduction="ngModel" required
            class="form-control" placeholder="Podaj rok produkcji...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Przebieg</label>
        <div class="input-group">
          <input [(ngModel)]="selectedVehicle.mileage" id="password" type="number" name="password" ngControl="password"
            #password="ngModel" required class="form-control" placeholder="Podaj przebieg...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Data zakupu</label>
        <div class="input-group">
          <input [(ngModel)]="selectedVehicle.purchaseDate" id="passwordAgain" type="date" name="passwordAgain"
            ngControl="passwordAgain" #passwordAgainVal="ngModel" required class="form-control"
            placeholder="Powtórz date zakupu...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Dostepność</label>
        <div class="input-group">
          <input [(ngModel)]="selectedVehicle.available" id="available" type="checkbox" name="available"
            ngControl="available" #passwordAgainVal="ngModel" required class="form-control"
            placeholder="Podaj dostepność...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Liczba miejsc</label>
        <div class="input-group">
          <input [(ngModel)]="selectedVehicle.seats" id="seats" type="number" name="seats" ngControl="seats"
            #seats="ngModel" required class="form-control" placeholder="Podaj liczbe miejsc...">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer" *ngIf="step === 1">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Anuluj</button>
    <button type="button" class="btn btn-primary" (click)="addVehicle()">Dodaj</button>
  </div>
  <div class="modal-footer" *ngIf="step === 2">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Anuluj</button>
    <button type="button" class="btn btn-primary" (click)="editVehicle()">Edytuj</button>
  </div>
</ng-template>