<div class="container player-background">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-8">
            <br />
            <h3>Dostępne filmy</h3>
            <br />
            <div class="list-group">
                <a *ngFor="let movie of pageOfItems" routerLink="/player/{{movie._id}}"
                    class="list-group-item list-group-item-action">
                    <div class="row">
                        <div class="col-3">{{movie.title}}</div>
                        <div class="col-3">Autor: {{movie.user.firstName}}</div>
                        <div class="col-4">Dodane: {{movie.uploadDate.substring(0,10)}}</div>
                        <div class="col">
                            <fa-icon [icon]="faThumbsUp"></fa-icon>
                            {{movie.likes}}:{{movie.likes}}
                            <fa-icon [icon]="faThumbsDown"></fa-icon>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-8">
            <div *ngIf="movies" class="row">
                <div class="col">
                </div>
                <div class="col">
                    <div class=" pb-0 pt-3 center">
                        <jw-pagination [items]="movies" (changePage)="onChangePage($event)">
                        </jw-pagination>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Aktywacja</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal(modal)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="description">Twoje konto zostało aktywowane!</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal(modal)">Ok</button>
    </div>
</ng-template>