.login-form {
    margin-top: 20px;
}
.add-button-div {
    margin-bottom: 10px;
}

.movie-div {
    border: 1px solid #ccc!important;
    padding: 15px;
    border-radius: 16px;
}

.content-middle {
    align-content: center;
}

.middle {
    text-align: center;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}