<div class="container-fluid">
  <div class="row margin-bottom-div">
    <div class="col-xs-12 col-sm-10 offset-sm-1">
      <div class="login-form">
        <div class="panel-body login-form">
          <div>
            <h3>Lista użytkowników</h3>
          </div>
          <div class="add-button-div">
            <button class="btn btn-primary" (click)="openAddModal(content)">Dodaj użytkownika</button>
          </div>
          <div class="table-responsive-md">
            <table id="dtBasicExample" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th class="th">Id
                  </th>
                  <th class="th">Imię
                  </th>
                  <th class="th">Nazwisko
                  </th>
                  <th class="th">Login
                  </th>
                  <th class="th">Rola
                  </th>
                  <th class="th">Akcje
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{user.id}}</td>
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.login}}</td>
                  <td>{{getRoleName(user.role)}}</td>
                  <td>
                    <button class="btn btn-warning" (click)="openEditModal(user.id, content)"><i
                        class="fas fa-edit"></i></button>
                    <button class="btn btn-danger" (click)="deleteUser(user.id)"><i
                        class="fas fa-trash-alt"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header" *ngIf="step === 1">
    <h4 class="modal-title" id="modal-basic-title">Dodaj użytkownika</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-header" *ngIf="step === 2">
    <h4 class="modal-title" id="modal-basic-title">Edytuj użytkownika</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="step === 1">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="dateOfBirth">Imię</label>
        <div class="input-group">
          <input [(ngModel)]="newUser.firstName" id="firstName" name="firstName" ngControl="firstName"
            #firstName="ngModel" required class="form-control" placeholder="Podaj imię...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Nazwisko</label>
        <div class="input-group">
          <input [(ngModel)]="newUser.lastName" id="lastName" name="lastName" ngControl="lastName" #lastName="ngModel"
            required class="form-control" placeholder="Podaj nazwisko...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Login</label>
        <div class="input-group">
          <input [(ngModel)]="newUser.login" id="firstName" name="login" ngControl="login" #login="ngModel" required
            class="form-control" placeholder="Podaj login...">
        </div>
      </div>
      <div class="form-group">
        <label for="role">Rola</label>
        <select class="form-control" [(ngModel)]="newUser.role" id="firstName" name="login" ngControl="login"
          #login="ngModel" required>
          <option *ngFor="let role of roles" [value]="role.value">{{role.title}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Hasło</label>
        <div class="input-group">
          <input [(ngModel)]="newUser.password" id="password" type='password' name="password" ngControl="password"
            #password="ngModel" required class="form-control" placeholder="Podaj hasło...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Powtórz hasło</label>
        <div class="input-group">
          <input [(ngModel)]="passwordAgain" id="passwordAgain" type='password' name="passwordAgain"
            ngControl="passwordAgain" #passwordAgainVal="ngModel" required class="form-control"
            placeholder="Powtórz hasło...">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-body" *ngIf="step === 2">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="dateOfBirth">Imię</label>
        <div class="input-group">
          <input [(ngModel)]="selectedUser.firstName" id="firstName" name="firstName" ngControl="firstName"
            #firstName="ngModel" required class="form-control" placeholder="Podaj imię...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Nazwisko</label>
        <div class="input-group">
          <input [(ngModel)]="selectedUser.lastName" id="lastName" name="lastName" ngControl="lastName"
            #lastName="ngModel" required class="form-control" placeholder="Podaj nazwisko...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Login</label>
        <div class="input-group">
          <input [(ngModel)]="selectedUser.login" id="firstName" name="login" ngControl="login" #login="ngModel"
            required class="form-control" placeholder="Podaj login...">
        </div>
      </div>
      <div class="form-group">
        <label for="role">Rola</label>
        <select class="form-control" [(ngModel)]="selectedUser.role" id="firstName" name="login" ngControl="login"
          #login="ngModel" required>
          <option *ngFor="let role of roles" [value]="role.value">{{role.title}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Hasło</label>
        <div class="input-group">
          <input [(ngModel)]="selectedUser.password" type='password' id="password" name="password" ngControl="password"
            #password="ngModel" required class="form-control" placeholder="Podaj hasło...">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Powtórz hasło</label>
        <div class="input-group">
          <input [(ngModel)]="passwordAgain" id="passwordAgain" type='password' name="passwordAgain"
            ngControl="passwordAgain" #passwordAgainVal="ngModel" required class="form-control"
            placeholder="Powtórz hasło...">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer" *ngIf="step === 1">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Anuluj</button>
    <button type="button" class="btn btn-primary" (click)="addUser()">Dodaj</button>
  </div>
  <div class="modal-footer" *ngIf="step === 2">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Anuluj</button>
    <button type="button" class="btn btn-primary" (click)="editUser()">Edytuj</button>
  </div>
</ng-template>