<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">
    <h2><i class="fas fa-bus"></i></h2>
  </a>
  <h2 class="title-div">Panel administracyjny</h2>
  <div class="user d-inline">
    <div class="user d-inline">
      <button type="button" id="userMenuButton" class="btn" dropdownToggle>
        <span class="name hidden-sm hidden-xs"> Odbyte przejazdy </span>
      </button>
    </div>
    <div class="user d-inline">
      <button type="button" id="userMenuButton" class="btn" dropdownToggle>
        <span class="name hidden-sm hidden-xs"> Linie </span>
      </button>
    </div>
    <div class="user d-inline">
      <button type="button" id="userMenuButton" class="btn" dropdownToggle>
        <span class="name hidden-sm hidden-xs"> Przystanki </span>
      </button>
    </div>
    <div class="user d-inline">
      <button type="button" id="userMenuButton" class="btn" dropdownToggle>
        <span class="name hidden-sm hidden-xs"> Kurs </span>
      </button>
    </div>
    <div class="user d-inline">
      <button type="button" id="userMenuButton" class="btn" dropdownToggle>
        <span class="name hidden-sm hidden-xs"> Przystanki </span>
      </button>
    </div>
  </div>
  <div class="sign-in d-inline logout-button-div">
    <a class="btn btn-info logout-button" (click)="logout()"> Wyloguj </a>
  </div>
</nav>