<div class="container-fluid">
    <div class="row margin-bottom-div">
        <div class="col-xs-12 col-sm-10 offset-sm-1">
            <div class="login-form">
                <div class="panel-body login-form">
                    <div>
                        <h3>Moje filmy</h3>
                    </div>
                    <div class="add-button-div">
                        <button class="btn btn-primary" (click)="openAddModal(content)">Dodaj film</button>
                    </div>
                    <div *ngIf="!movies">
                        <h3>Brak filmów</h3>
                    </div>
                    <div class="table-responsive-md">
                        <table id="dtBasicExample" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="th">Tytuł
                                    </th>
                                    <th class="th">Data dodania
                                    </th>
                                    <th class="th">Polubienia
                                    </th>
                                    <th class="th">Awersje
                                    </th>
                                    <th class="th">Opis
                                    </th>
                                    <th class="th">Edytuj
                                    </th>
                                    <th class="th">Usuń
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let movie of movies">
                                    <td>{{movie.title}}</td>
                                    <td>{{movie.uploadDate.substring(0,10)}}</td>
                                    <td>{{movie.likes}}</td>
                                    <td>{{movie.dislikes}}</td>
                                    <td>
                                        <button class="btn btn-info" (click)="openEditModal(user.id, content)">
                                            <fa-icon [icon]="faCommentDots"></fa-icon>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-warning" (click)="openEditModal(user.id, content)">
                                            <fa-icon [icon]="faEdit"></fa-icon>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" (click)="deleteMovie(movie._id)">
                                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header" *ngIf="step === 1">
        <h4 class="modal-title" id="modal-basic-title">Dodaj użytkownika</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-header" *ngIf="step === 2">
        <h4 class="modal-title" id="modal-basic-title">Edytuj użytkownika</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="step === 1">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Tytuł</label>
                <div class="input-group">
                    <input [(ngModel)]="title" id="title" name="title" ngControl="title" #titleText="ngModel" required
                        class="form-control" placeholder="Podaj tytuł...">
                </div>
            </div>
            <div class="form-group">
                <label for="description">Opis</label>
                <div class="input-group">
                    <!-- <input [(ngModel)]="description" id="description" name="description" ngControl="description"
                        #descriptionText="ngModel" required class="form-control" placeholder="Podaj opis..."> -->
                    <textarea [(ngModel)]="description" id="description" name="description" ngControl="description"
                        #descriptionText="ngModel" required class="form-control" placeholder="Podaj opis..."
                        rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth"></label>
                <div class="input-group">
                    <input autofocus type="file" class="form-control" (change)="fileChanged($event)" id="file" required
                        name="file" value=null placeholder="Dodaj plik" accept=".mp4" />
                </div>
            </div>
        </form>
    </div>
    <!-- <div class="modal-body" *ngIf="step === 2">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="dateOfBirth">Imię</label>
                <div class="input-group">
                    <input [(ngModel)]="selectedUser.firstName" id="firstName" name="firstName" ngControl="firstName"
                        #firstName="ngModel" required class="form-control" placeholder="Podaj imię...">
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Nazwisko</label>
                <div class="input-group">
                    <input [(ngModel)]="selectedUser.lastName" id="lastName" name="lastName" ngControl="lastName"
                        #lastName="ngModel" required class="form-control" placeholder="Podaj nazwisko...">
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Login</label>
                <div class="input-group">
                    <input [(ngModel)]="selectedUser.login" id="firstName" name="login" ngControl="login"
                        #login="ngModel" required class="form-control" placeholder="Podaj login...">
                </div>
            </div>
            <div class="form-group">
                <label for="role">Rola</label>
                <select class="form-control" [(ngModel)]="selectedUser.role" id="firstName" name="login"
                    ngControl="login" #login="ngModel" required>
                    <option *ngFor="let role of roles" [value]="role.value">{{role.title}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Hasło</label>
                <div class="input-group">
                    <input [(ngModel)]="selectedUser.password" type='password' id="password" name="password"
                        ngControl="password" #password="ngModel" required class="form-control"
                        placeholder="Podaj hasło...">
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Powtórz hasło</label>
                <div class="input-group">
                    <input [(ngModel)]="passwordAgain" id="passwordAgain" type='password' name="passwordAgain"
                        ngControl="passwordAgain" #passwordAgainVal="ngModel" required class="form-control"
                        placeholder="Powtórz hasło...">
                </div>
            </div>
        </form>
    </div> -->
    <div class="modal-footer" *ngIf="step === 1">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Anuluj</button>
        <button type="button" class="btn btn-primary" (click)="addMovie()">Dodaj</button>
    </div>
    <div class="modal-footer" *ngIf="step === 2">
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Anuluj</button>
        <button type="button" class="btn btn-primary" (click)="editMovie()">Edytuj</button>
    </div>
</ng-template>